<div class="container mx-auto mt-28 px-5 flex">
  <div class="flex flex-col">
    <div class="prose">
      <h1 class="font-bold text-4xl">StaticPages#home</h1>
      <p>Find me in app/views/static_pages/home.html.erb</p>
    </div>



    <div class="my-8">
      <%= form_with url: static_pages_home_path, method: :get, data: { turbo: false } do |f| %>
          <%= f.label "Flickr User ID:", :flickr_user_id, class: "label text-md font-bold" %>
          <%= f.text_field :uid, value: current_user.uid, class: "input input-bordered input-primary max-w-xs" %>
          <%= f.hidden_field :api_method, value: :fetch_photos %>
          <%= f.submit "Get Photos", class: "btn btn-primary" %>
      <% end %>
    </div>
    <div class="my-8">
      <% if user_signed_in? %>
        <%= form_with url: static_pages_home_path, method: :get, data: { turbo: false } do |f| %>
          <%= f.hidden_field :uid, value: current_user.uid %>
          <%= f.hidden_field :api_method, value: :fetch_contacts %>
          <%= f.submit "Get My Contacts", class: "btn btn-primary" %>
        <% end %>
      <% else %>
        <%= link_to "Sign in with Flickr", user_flickr_omniauth_authorize_path, data: { turbo: false } %>
      <% end %>

      <%#= form_with url: static_pages_home_path, method: :get, local: true do |f| %>
          <%#= f.hidden_field :uid, value: current_user.uid %>
          <%#= f.submit "Get My contacts", class: "btn-primary-sm" %>
      <%# end %>
    </div>


    <div class="photos">
      <% if @photos.present? %>
        <%= render partial: 'images', locals: { photos: @photos, flickr_user_id: @flickr_user_id } %>
      <% end %>
    </div>  
    
    <div class="contacts">
      <% if @contacts.present? %>
        <%= @contacts %>
        <%#= @contacts.each do |contact| %>
          <%#= contact.username %>
        <%# end %>
      <% end %>
    </div>  
  </div>
</div>
