<h2 class="prose text-xl font-bold underline mt-8">Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "my-6 prose" }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field my-2">
    <%= f.label :email, class: "label text-md font-bold p-0" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input input-bordered" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field my-2">
    <div class="flex items-baseline">
      <%= f.label :password, class: "label text-md font-bold p-0" %>
      <i class="ml-4 label-text-alt">(leave blank if you don't want to change it)</i>
    </div>
    <%= f.password_field :password, autocomplete: "new-password", class: "input input-bordered" %>
    <% if @minimum_password_length %>
      <br />
      <em class="label-text-alt"><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field my-2">
    <%= f.label :password_confirmation, class: "label text-md font-bold p-0" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input input-bordered" %>
  </div>

  <div class="field my-2">
    <div class="flex items-baseline">
      <%= f.label :current_password, class: "label text-md font-bold p-0" %>
      <i class="ml-4 label-text-alt">(we need your current password to confirm your changes)</i>
    </div>
      <%= f.password_field :current_password, autocomplete: "current-password", class: "input input-bordered" %>
  </div>

  <div class="actions my-2">
    <%= f.submit "Update", class: "btn btn-primary" %>
  </div>
<% end %>

<div class="flex items-baseline">Unhappy?&nbsp&nbsp&nbsp<%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "btn" %></div>
<%= link_to "Back", :back, class: "link" %>
